.App {
  margin: 50px 20px;
}

form {
  
}

.formRow {
  display: flex;
  margin-bottom: 20px;
}

.formRow label {
  padding-right: 10px;
}

/*** Lista de receitas ****/
.recipes-list h3 {
  color:#580042;
  font-size: 20px;
  font-weight: 700;
}

.recipes-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.recipes-list li {
  display: flex;
  height: 30px;
  align-items: center;
  padding-left: 10px;
}

.recipes-list span {
  width: 50%;
}

.recipes-list li button {
  margin-left: 10px;
}




button {
  background-color: purple;
  color: white;
  font-weight: 700;
  height: 20px;
  border-radius: 5px;
  border: 2px solid transparent;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  border-color: #580042;
  background-color: #FFFFFF;
  color: #580042;
}