.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.testing {
  color: white;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testing .result {
  margin-top: 40px;
  font-size: 50px;
}

.testing .buttonRow {
  display: flex;
  width: 200px;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
}
.testing .buttonRow button {
  font-size: 25px;
  width: 45px;
  font-weight: 500;
}