.listRowContainer {
  border: 1px solid blue;
  width: 400px;
  font-size: 28px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.listRowContainer label {
  display: block;
  
}

.listName {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}